.grow {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a:hover-focus-active {
  cursor: pointer;
}

body {
  background-color: #fff;
  color: #222;
}

body h1 {
  color: #222;
}

a:hover, a:focus {
  text-decoration: none;
}

figure {
  margin-bottom: 0;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(181, 101, 210, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(181, 101, 210, 0.25);
}

.carousel-control-next,
.carousel-control-prev {
  width: 7.5%;
}

.logo {
  max-width: 4rem;
  max-height: 6rem;
}

.cloud {
  max-width: 50px;
  max-height: 50px;
}

.stupidKid {
  max-width: 40px;
  max-height: 40px;
}

nav {
  border-bottom: solid 3px #343a40;
}

nav .iconDiv a:hover .icon, nav .iconDiv a:focus .icon {
  color: #b666d2;
}

nav .icon {
  color: #333;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #b666d2;
}

@media (max-width: 1199.98px) {
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    padding: .25rem;
    margin: 4.5px;
  }
}

@media (min-width: 992px) {
  html,
  .homePage,
  .coloradoTert {
    height: 100%;
  }
  .homePage,
  .coloradoTert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homePage .content,
  .coloradoTert .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .homePage .footer,
  .coloradoTert .footer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (min-width: 614px) {
  html,
  .aboutTert {
    height: 100%;
  }
  .aboutTert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutTert .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .aboutTert .footer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.aboutBtn {
  background: none;
}

.aboutBtn:hover {
  background-image: url("../images/funnyBtn.png");
}

.aboutBtn:hover #sillyText, .aboutBtn:focus #sillyText {
  opacity: 0;
}

.carouselBtn {
  background: none;
}

.greyBtn {
  background-color: rgba(105, 105, 105, 0.8);
}

.icon {
  color: white;
}

.icon:hover {
  color: #b666d2;
  text-decoration: none;
  cursor: pointer;
}

footer i:hover {
  color: #b666d2;
}

.idiotCarousel {
  margin-top: 7.25rem;
}

@media (min-width: 992px) {
  .carousel-item {
    height: calc(100vh - 147px);
  }
  .carousel-item img {
    height: 100%;
  }
}

@media (max-width: 1199.98px) {
  .homePage #footerDiv .fixed-bottom {
    position: initial;
  }
}

@media (max-width: 767.98px) {
  .carousel-caption {
    bottom: -10px;
  }
}

.aboutTert {
  background-image: url("../images/ready/aboutBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

@media (min-width: 768px) {
  .aboutTert {
    background-position: center;
  }
}

.aboutTert .content {
  height: 100vh;
}

.aboutTert .aboutDiv {
  font-size: 1.25rem;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 1.25;
  border: solid #343a40 3px;
  max-width: 45rem;
  position: absolute;
  bottom: 15%;
}

@media (min-width: 638px) {
  .aboutTert .aboutDiv {
    left: 10%;
    right: 10%;
  }
}

.aboutTert .aboutDiv h1 {
  margin: 0.25em;
}

.coloradoTert {
  background-image: url("../images/ready/coloradoBG.jpg"), url("../images/ready/coloradoBGinvert.jpg");
  background-repeat: no-repeat, repeat;
  background-size: auto;
  background-position: top;
}

.coloradoTert .videoContainer {
  margin-top: 8rem;
}

.coloradoText.col-12 {
  max-width: 97.5%;
}

.iframe-div {
  margin: 0.1rem auto;
}

.embed-responsive {
  border: solid 0.25rem #fff;
}

.scotland-main {
  margin-top: 7rem;
  min-width: 100%;
}

.scotland-content {
  background-color: #fff;
  padding: 1rem 3rem;
}

.scotland-content h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.scotland-content .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.dayToggle {
  z-index: 1500;
  border: 2px solid #c0c0c0;
}

.scotlandNav {
  width: 126.3px;
  position: fixed;
  z-index: 1400;
  right: 0;
  bottom: 0;
  margin-bottom: 2.35rem;
  padding: .5rem;
  background-color: rgba(52, 58, 64, 0.9);
}

.scotlandNav a {
  color: #fff;
}

.scotlandNav a:hover, .scotlandNav a:focus {
  color: #b666d2;
}

button.fixed-bottom {
  left: initial;
}
/*# sourceMappingURL=idiotStyles.css.map */