<div class="ctaLouisville">

    <button class="btn btn-dark my-3" type="button" data-toggle="collapse" data-target="#ctaLouisvilleCollapse" aria-expanded="true" aria-controls="ctaLouisvilleCollapse">CALL TO ACTION: LOUISVILLE</button>

    <div id="ctaLouisvilleCollapse" class="ctaLouisvilleCollapse collapse">
        <a class="d-block" href="https://justiceforbreonna.org/" target="_blank">JUSTICEFORBREONNA.ORG</a>
        <a class="d-block" href="https://www.gofundme.com/f/9v4q2-justice-for-breonna-taylor?utm_source=customer&utm_medium=copy_link&utm_campaign=m_pd+share-sheet" tartget="_blank">JUSTICE FOR BREONNA TAYLOR FUND</a>
        <a class="d-block" href="https://venmo.com/changetodaychangetmw" target="_blank">CHANGE TODAY CHANGE TOMORROW VENMO - #FEEDTHEWEST</a>
        <a class="d-block" href="https://cash.app/$ChangeTodayChangeTmw" target="_blank">CHANGE TODAY CHANGE TOMORROW CASHAPP - #FEEDTHEWEST</a>
        <a class="d-block" href="https://muckrack.com/quintez-brown/articles" target="_blank">QUINTEZ BROWN ARTICLES</a>

        <div class="councilCollapse">
            <button class="btn btn-dark my-3" type="button" data-toggle="collapse" data-target="#councilMembers" aria-expanded="true" aria-controls="councilMembers">
    CONTACT<br>LOUISVILLE METRO CITY COUNCIL
    </button>
            <div id="councilMembers" class="councilMembers collapse">
                <a class="d-block" href="https://louisvilleky.gov/government/metro-council/districts-1-26">FIND YOUR LOUISVILLE COUNCIL MEMBER</a>
                <div class="member">
                    <h4>Jessica Green - District 1</h4>
                    <a class="d-block" href="tel:502-574-1101">PHONE</a>
                    <a class="d-block" href="mailto:jessica.green@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Barbara Shanklin - District 2</h4>
                    <a class="d-block" href="tel:502-574-1102">PHONE</a>
                    <a class="d-block" href="mailto:barbara.shanklin@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Keisha Dorsey - District 3</h4>
                    <a class="d-block" href="tel:502-574-1103">PHONE</a>
                    <a class="d-block" href="mailto:keisha.dorsey@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Barbara Sexton-Smith - District 4</h4>
                    <a class="d-block" href="tel:502-574-1103">PHONE</a>
                    <a class="d-block" href="mailto:barbara.sexton-smith@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Donna Purvis - district 5</h4>
                    <a class="d-block" href="tel:502-574-1105">PHONE</a>
                    <a class="d-block" href="mailto:donna.purvis.louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>David James - District 6</h4>
                    <a class="d-block" href="tel:502-574-1106">PHONE</a>
                    <a class="d-block" href="mailto:david.james@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Paula McCraney - District 7</h4>
                    <a class="d-block" href="tel:502-574-1107">PHONE</a>
                    <a class="d-block" href="mailto:paula.mccraney@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Brandon Coan - District 8</h4>
                    <a class="d-block" href="tel:502-574-1108">PHONE</a>
                    <a class="d-block" href="mailto:brandon.coan@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Bill Hollander - District 9</h4>
                    <a class="d-block" href="tel:502-574-1109">PHONE</a>
                    <a class="d-block" href="mailto:bill.hollander@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Pat Mulvihill - District 10</h4>
                    <a class="d-block" href="tel:502-574-1110">PHONE</a>
                    <a class="d-block" href="mailto:pat.mulvihill@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Kevin Kramer - District 11</h4>
                    <a class="d-block" href="tel:502-574-1111">PHONE</a>
                    <a class="d-block" href="mailto:kevin.kramer@louisvillky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Rick Blackwell - District 12</h4>
                    <a class="d-block" href="tel:502-574-1112">PHONE</a>
                    <a class="d-block" href="mailto:rick.blackwell@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Mark Fox - District 13</h4>
                    <a class="d-block" href="tel:502-574-1113">PHONE</a>
                    <a class="d-block" href="mailto:mark.fox@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Cindi Fowler - District 14</h4>
                    <a class="d-block" href="tel:502-574-1114">PHONE</a>
                    <a class="d-block" href="mailto:cindi.foweler@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Kevin Triplett - District 15</h4>
                    <a class="d-block" href="tel:502-574-1115">PHONE</a>
                    <a class="d-block" href="mailto:kevin.triplett@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Scott Reed - District 16</h4>
                    <a class="d-block" href="tel:502-574-1116">PHONE</a>
                    <a class="d-block" href="mailto:scott.reed@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Markus Winkler - District 17</h4>
                    <a class="d-block" href="tel:502-574-1117">PHONE</a>
                    <a class="d-block" href="mailto:markus.winkler@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Marilyn Parker - District 18</h4>
                    <a class="d-block" href="tel:502-574-1118">PHONE</a>
                    <a class="d-block" href="mailto:marilyn.parker@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Anthony Piagentini - District 19</h4>
                    <a class="d-block" href="tel:502-574-1119">PHONE</a>
                    <a class="d-block" href="mailto:anthony.piagentini@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Stuart Benson - District 20</h4>
                    <a class="d-block" href="tel:502-574-1120">PHONE</a>
                    <a class="d-block" href="mailto:stuart.benson@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Nicole George - District 21</h4>
                    <a class="d-block" href="tel:502-574-1121">PHONE</a>
                    <a class="d-block" href="mailto:nicole.george@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Robin Engel - District 22</h4>
                    <a class="d-block" href="tel:502-574-1122">PHONE</a>
                    <a class="d-block" href="mailto:robin.engel@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>James Peden - District 23</h4>
                    <a class="d-block" href="tel:502-574-1123">PHONE</a>
                    <a class="d-block" href="mailto:james.peden@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Madonna Flood - District 24</h4>
                    <a class="d-block" href="tel:502-574-1124">PHONE</a>
                    <a class="d-block" href="mailto:madonna.flood@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>David Yates - District 25</h4>
                    <a class="d-block" href="tel:502-574-1125">PHONE</a>
                    <a class="d-block" href="mailto:david.yates@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Brent Ackerson - District 26</h4>
                    <a class="d-block" href="tel:502-574-1126">PHONE</a>
                    <a class="d-block" href="mailto:brent.ackerson@louisvilleky.gov">EMAIL</a>
                </div>
            </div>
        </div>
    </div>
</div>