<div class="generalResources">
    <h2>GENERAL RESOURCES</h2>

    <div class="linkDiv my-3">
        <a href="https://blacklivesmatter.com/" target="_blank">BLACK LIVES MATTER</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://docs.google.com/document/d/1BRlF2_zhNe86SGgHa6-VlBO-QgirITwCTugSfKie5Fs/mobilebasic" target="_blank">ANTI-RACISM RESOURCES</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTkmrhfhYUfCcTbp3NoDmxKZUAN7xMiVuhqIlNBizKz-Ih7yPPqTPFgYzmd5NgKtEdpVugB6GoZwPWR/pubhtml" target="_blank">ANTIRACIST ALLYSHIP STARTER PACK</a>
    </div>
    <div class="linkDiv my-3">
        <a href="drive.google.com/drive/folders/1TrqfLp8DrCzCni58SB4-CEVSBlg0Kzq6" target="_blank">REVOLUTIONARY BOOKS AND TEXTS</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://www.naacp.org/" target="_blank">NAACP</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://www.aclu.org/know-your-rights/protesters-rights/ " target="_blank">ACLU PROTESTOR RIGHTS</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://colorofchange.org/" target="_blank">COLOR OF CHANGE</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://www.blackvisionsmn.org/" target="_blank">BLACK VISIONS COLLECTIVE</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://www.reclaimtheblock.org/home" target="_blank">RECLAIM THE BLOCK</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://www.joincampaignzero.org/" target="_blank">CAMPAIGN ZERO</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://www.knowyourrightscamp.com/" target="_blank">KNOW YOUR RIGHTS CAMP</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://unicornriot.ninja/" target="_blank">UNICORN RIOT</a>
    </div>
    <div class="linkDiv my-3">
        <a href="https://docs.google.com/document/d/1CjZMORRVuv-I-qo4B0YfmOTqIOa3GUS207t5iuLZmyA/mobilebasic" target="_blank">NATIONAL RESOURCE LIST</a>
    </div>

</div>