<div class="donations">
    <button class="btn btn-dark my-3" type="button" data-toggle="collapse" data-target="#donateCollapse" aria-expanded="true" aria-controls="donateCollapse">DONATE</button>
    <div id="donateCollapse" class="donateCollapse collapse">
        <div class="linkDiv my-3">
            <a href="https://bailfunds.github.io/" target="_blank">BAILFUNDS.GITHUB.IO</a>
        </div>
        <div class="linkDiv my-3">
            <a class="d-block" href="https://www.gofundme.com/f/9v4q2-justice-for-breonna-taylor?utm_source=customer&utm_medium=copy_link&utm_campaign=m_pd+share-sheet" tartget="_blank">JUSTICE FOR BREONNA TAYLOR FUND</a>
        </div>
        <div class="linkDiv my-3">
            <a href="https://m.facebook.com/nt/screen/?params=%7B%22fundraiser_campaign_id%22%3A2831253087003418%2C%22source%22%3A%22external_url%22%7D&path=%2Ffundraiser%2F&_rdr" target="_blank">DAVID MCATEE FUNDRAISER</a>
        </div>
        <div class="linkDiv my-3">
            <a href="https://actionnetwork.org/fundraising/louisville-community-bail-fund/" target="_blank">LOUISVILLE COMMUNITY BAIL FUND</a>
        </div>
        <!-- https://cash.app/$hadineem -->
        <div class="linkDiv my-3">
            <a href="https://www.gofundme.com/f/GEORGEFLOYD" target="_blank">GEORGE FLOYD FUND</a>
        </div>
        <div class="linkDiv my-3">
            <a href="https://www.gofundme.com/f/GEORGEFLOYD" target="_blank">GEORGE FLOYD FUND</a>
        </div>
        <div class="linkDiv my-3">
            <a href="https://minnesotafreedomfund.org/" target="_blank">MINNESOTA FREEDOM FUND</a>
        </div>
        <div class="linkDiv my-3">
            <a href="https://www.gofundme.com/f/homeless-black-trans-women-fund" target="_blank">HOMELESS BLACK TRANS WOMEN FUND</a>
        </div>
        <div class="linkDiv my-3">
            <a href="https://www.lgbtqfund.org/" target="_blank">LGBTQ FREEDOM FUND</a>
        </div>
        <a class="d-block" href="https://www.youtube.com/watch?v=bCgLa25fDHM" target="_blank">YOUTUBE BLACK LIVES MATTER DONATION</a>
        <a class="d-block" href="https://www.youtube.com/watch?v=WKo8OrBdLz8" target="_blank">YOUTUBE BLACK LIVES MATTER DONATION STREAM</a>
    </div>
</div>