<div class="contacts">
    <button class="btn btn-dark my-3" type="button" data-toggle="collapse" data-target="#contactCollapse" aria-expanded="false" aria-controls="contactCollapse">CLICKABLE CONTACT LINKS</button>
    <div id="contactCollapse" class="contactCollapse collapse">
        <a class="d-block" href="tel:502-564-2611">GOVERNOR BESHEAR</a>
        <a class="d-block" href="tel:502-595-2300">DISTRICT ATTORNEY TOM WINE</a>
        <a class="d-block" href="tel:502-696-5300">ATTORNEY GENERAL DANIEL CAMERON</a>
        <a class="d-block" href="tel:202-224-4343">SENATOR RAND PAUL DC #</a>
        <a class="d-block" href="tel:202-225-5401">REPRESENTATIVE JOHN YARMUTH</a>
        <a class="d-block" href="tel:1-800-372-7181">KENTUCKY SENATORS GENERAL HOTLINE</a>
        <a class="d-block" href="tel:502-574-2003">MAYOR FISCHER'S OFFICE</a>
        <a class="d-block" href="tel:502-574-7111">LMPD</a>
    </div>
</div>