<div class="contacts">
    <button class="btn btn-dark my-3" type="button" data-toggle="collapse" data-target="#contactCollapse" aria-expanded="false" aria-controls="contactCollapse">CLICKABLE CONTACT LINKS</button>
    <div id="contactCollapse" class="contactCollapse collapse">
        <a class="d-block" href="tel:502-574-2003">MAYOR FISCHER'S OFFICE</a>
        <a class="d-block" href="tel:502-696-5300">ATTORNEY GENERAL DAVID CAMERON</a>
        <a class="d-block" href="tel:502-595-2300">DISTRICT ATTORNEY TOM WINE</a>
        <a class="d-block" href="tel:502-574-6336">JEFF CO. ATTORNEY MIKE O'CONNELL</a>
        <a class="d-block" href="tel:502-564-2611">GOVERNOR BESHEAR</a>
        <a class="d-block" href="tel:502-696-5300">ATTORNEY GENERAL DANIEL CAMERON</a>
        <a class="d-block" href="tel:202-224-4343">SENATOR RAND PAUL DC #</a>
        <a class="d-block" href="tel:202-225-5401">REPRESENTATIVE JOHN YARMUTH</a>
        <a class="d-block" href="tel:1-800-372-7181">KENTUCKY SENATORS GENERAL HOTLINE</a>
        <a class="d-block" href="tel:502-574-7111">LMPD</a>
        <div class="councilCollapse">
            <button class="btn btn-dark my-3" type="button" data-toggle="collapse" data-target="#councilMembers" aria-expanded="true" aria-controls="councilMembers">
    CONTACT<br>LOUISVILLE METRO CITY COUNCIL
    </button>
            <div id="councilMembers" class="councilMembers collapse">
                <a class="d-block" href="https://louisvilleky.gov/government/metro-council/districts-1-26">FIND YOUR LOUISVILLE COUNCIL MEMBER</a>
                <div class="member">
                    <h4>Jessica Green - District 1</h4>
                    <a class="d-block" href="tel:502-574-1101">PHONE</a>
                    <a class="d-block" href="mailto:jessica.green@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Barbara Shanklin - District 2</h4>
                    <a class="d-block" href="tel:502-574-1102">PHONE</a>
                    <a class="d-block" href="mailto:barbara.shanklin@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Keisha Dorsey - District 3</h4>
                    <a class="d-block" href="tel:502-574-1103">PHONE</a>
                    <a class="d-block" href="mailto:keisha.dorsey@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Barbara Sexton-Smith - District 4</h4>
                    <a class="d-block" href="tel:502-574-1103">PHONE</a>
                    <a class="d-block" href="mailto:barbara.sexton-smith@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Donna Purvis - district 5</h4>
                    <a class="d-block" href="tel:502-574-1105">PHONE</a>
                    <a class="d-block" href="mailto:donna.purvis.louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>David James - District 6</h4>
                    <a class="d-block" href="tel:502-574-1106">PHONE</a>
                    <a class="d-block" href="mailto:david.james@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Paula McCraney - District 7</h4>
                    <a class="d-block" href="tel:502-574-1107">PHONE</a>
                    <a class="d-block" href="mailto:paula.mccraney@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Brandon Coan - District 8</h4>
                    <a class="d-block" href="tel:502-574-1108">PHONE</a>
                    <a class="d-block" href="mailto:brandon.coan@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Bill Hollander - District 9</h4>
                    <a class="d-block" href="tel:502-574-1109">PHONE</a>
                    <a class="d-block" href="mailto:bill.hollander@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Pat Mulvihill - District 10</h4>
                    <a class="d-block" href="tel:502-574-1110">PHONE</a>
                    <a class="d-block" href="mailto:pat.mulvihill@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Kevin Kramer - District 11</h4>
                    <a class="d-block" href="tel:502-574-1111">PHONE</a>
                    <a class="d-block" href="mailto:kevin.kramer@louisvillky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Rick Blackwell - District 12</h4>
                    <a class="d-block" href="tel:502-574-1112">PHONE</a>
                    <a class="d-block" href="mailto:rick.blackwell@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Mark Fox - District 13</h4>
                    <a class="d-block" href="tel:502-574-1113">PHONE</a>
                    <a class="d-block" href="mailto:mark.fox@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Cindi Fowler - District 14</h4>
                    <a class="d-block" href="tel:502-574-1114">PHONE</a>
                    <a class="d-block" href="mailto:cindi.foweler@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Kevin Triplett - District 15</h4>
                    <a class="d-block" href="tel:502-574-1115">PHONE</a>
                    <a class="d-block" href="mailto:kevin.triplett@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Scott Reed - District 16</h4>
                    <a class="d-block" href="tel:502-574-1116">PHONE</a>
                    <a class="d-block" href="mailto:scott.reed@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Markus Winkler - District 17</h4>
                    <a class="d-block" href="tel:502-574-1117">PHONE</a>
                    <a class="d-block" href="mailto:markus.winkler@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Marilyn Parker - District 18</h4>
                    <a class="d-block" href="tel:502-574-1118">PHONE</a>
                    <a class="d-block" href="mailto:marilyn.parker@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Anthony Piagentini - District 19</h4>
                    <a class="d-block" href="tel:502-574-1119">PHONE</a>
                    <a class="d-block" href="mailto:anthony.piagentini@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Stuart Benson - District 20</h4>
                    <a class="d-block" href="tel:502-574-1120">PHONE</a>
                    <a class="d-block" href="mailto:stuart.benson@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Nicole George - District 21</h4>
                    <a class="d-block" href="tel:502-574-1121">PHONE</a>
                    <a class="d-block" href="mailto:nicole.george@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Robin Engel - District 22</h4>
                    <a class="d-block" href="tel:502-574-1122">PHONE</a>
                    <a class="d-block" href="mailto:robin.engel@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>James Peden - District 23</h4>
                    <a class="d-block" href="tel:502-574-1123">PHONE</a>
                    <a class="d-block" href="mailto:james.peden@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Madonna Flood - District 24</h4>
                    <a class="d-block" href="tel:502-574-1124">PHONE</a>
                    <a class="d-block" href="mailto:madonna.flood@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>David Yates - District 25</h4>
                    <a class="d-block" href="tel:502-574-1125">PHONE</a>
                    <a class="d-block" href="mailto:david.yates@louisvilleky.gov">EMAIL</a>
                </div>
                <div class="member">
                    <h4>Brent Ackerson - District 26</h4>
                    <a class="d-block" href="tel:502-574-1126">PHONE</a>
                    <a class="d-block" href="mailto:brent.ackerson@louisvilleky.gov">EMAIL</a>
                </div>
            </div>
        </div>
        <div class="linkDiv my-3">
            <a href="https://tinyurl.com/ybkzy842" target="_blank">OPENS EMAIL WITH DRAFTS TO REPRESENTATIVES ADVOCATING FOR BREONA TAYLOR</a>
        </div>
    </div>
</div>