<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- FAVICONS - https://www.favicon-generator.org/ -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Meta Tags -->
<!-- <meta property="og:image" content="./images/ready/ogImage.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="THE IDIOT TOURIST">
<meta property="og:description" content="A Fool For Travel">
<meta property="og:url" content="theidiottourist.com"> -->


<!-- https://github.com/h5bp/html5-boilerplate/issues/1674 -->

<link rel="author" href="Jake Snider is The Idiot Tourist">
<link rel="publisher" href="">
<meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="image" content="">

<!-- Search Engines -->
<meta name="author" content="Jake Snider is The Idiot Tourist">
<meta name="description" content="A Fool For Travel">
<link rel="canonical" href="theidiottourist.com">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="https://theidiottourist.com">
<meta name="twitter:creator" content="Jake Snider is The Idiot Tourist">
<meta name="twitter:title" content="THE IDIOT TOURIST">
<meta name="twitter:description" content="A Fool For Travel">
<meta name="twitter:image:src" content="theidiottourist.com/images/ready/ogImage.jpg">

<!-- Facebook / Open Graph -->
<!-- <meta property="fb:admins" content="">
<meta property="fb:app_id" content=""> -->
<meta property="og:url" content="https://theidiottourist.com">
<meta property="og:type" content="image/jpeg">
<meta property="og:title" content="THE IDIOT TOURIST">
<meta property="og:image" content="theidiottourist.com/images/ready/ogImage.jpg">
<meta property="og:image:secure_url" content="https://theidiottourist.com/images/ready/ogImage.jpg">
<meta property="og:description" content="A Fool For Travel">
<meta property="og:site_name" content="THE IDIOT TOURIST">
<meta property="article:author" content="Jake Snider is The Idiot Tourist">
<meta property="article:publisher" content="The Idiot Tourist">