<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light row">
    <div class="container">
        <a class="navbar-brand grow d-none d-lg-block" href="https://theidiottourist.com/">
            <img src="../images/catchLightning.png" class="logo img-fluid d-none d-lg-block ml-3" alt="Catch Lightning Logo">
        </a>
        <span type="button" class="onclick d-block d-lg-none mx-auto" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../images/navbarLogo.png" class="cloud img-fluid d-block d-xl-none" alt="Lightning Bolt Logo">
    </span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-center d-lg-none grow" href="https://theidiottourist.com/">Home</a>
                    <a class="nav-item nav-link text-center grow" href="about.html">About</a>
                    <a class="nav-item nav-link text-center grow" href="destinations.html">Destinations</a>
                    <a class="nav-item nav-link text-center grow" href="scotland.html">Scotland</a>
                    <a class="nav-item nav-link text-center grow" href="colorado.html">Colorado</a>
                    <a class="nav-item nav-link text-center grow d-none d-lg-block" href="https://www.instagram.com/theidiottourist/" target="_blank">Instagram</a>
                    <a class="nav-item nav-link text-center grow d-none d-lg-block" href="https://www.youtube.com/channel/UCrh1LhkTMzTW9adYRDmZVuw" target="_blank">Youtube</a>
                </div>
            </div>
        </div>
        <div class="col-12 ml-3">
            <img src="../images/stupidKid.png" class="stupidKid img-fluid d-block d-lg-none mx-auto" alt="Stupid Kid Logo">
        </div>

        <div class="icondDiv row w-100 d-lg-none">
            <div class="col-6">
                <a href="https://www.instagram.com/theidiottourist/" class="grow text-center" target="_blank">
                    <i class="icon d-block mx-auto fab fa-instagram fa-lg" alt="instagram"></i>
                </a>
            </div>
            <div class="col-6">
                <a href="https://www.youtube.com/channel/UCrh1LhkTMzTW9adYRDmZVuw" class="grow text-center" target="_blank">
                    <i class="icon d-block mx-auto fab fa-youtube fa-lg" alt="youtube"></i>
                </a>
            </div>
        </div>
    </div>
</nav>


<!-- /NAVBAR -->