<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,
     shrink-to-fit=no">
<!-- Meta Tags -->
<meta property="og:image" content="../images/ready/ogImage.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="THE IDIOT TOURIST">
<meta property="og:description" content="A Fool For Travel">
<meta property="og:url" content="theidiottourist.com">

<!-- 
https://github.com/h5bp/html5-boilerplate/issues/1674

<link rel="author" href="">
<link rel="publisher" href="">
<meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="image" content="">
Search Engines

<meta name="author" content="">
<meta name="description" content="">
<link rel="canonical" href="">
Twitter

<meta name="twitter:card" content="">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="">
Facebook / Open Graph

<meta property="fb:admins" content="">
<meta property="fb:app_id" content="">
<meta property="og:url" content="">
<meta property="og:type" content="">
<meta property="og:title" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">
<meta property="og:site_name" content="">
<meta property="article:author" content="">
<meta property="article:publisher" content=""> -->