<nav class="navbar fixy navbar-expand-lg navbar-light bg-light row">
    <a class="navbar-brand grow d-none d-lg-block" href="../theidiottourist.html">
        <img src="../images/catchLightning.png" class="logo img-fluid d-none d-lg-block ml-3" alt="Catch Lightning Logo">
    </a>
    <span type="button" class="onclick d-block d-lg-none mx-auto" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../images/navbarLogo.png" class="cloud img-fluid d-block d-xl-none" alt="Lightning Bolt Logo">
</span>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-center d-lg-none grow" id="hoverHide" href="../theidiottourist.html">Home</a>
                <a class="nav-item nav-link text-center grow hoverHide" id="hoverHide" href="about.html">About</a>
                <a class="nav-item nav-link text-center grow hoverHide" id="hoverHide" href="destinations.html">Destinations</a>
                <a class="nav-item nav-link text-center grow hoverHide" id="hoverHide" href="scotlandMemoir.html">Scotland</a>
                <a class="nav-item nav-link text-center grow hoverHide" id="hoverHide" href="colorado.html">Colorado</a>
            </div>
        </div>
    </div>
    <div class="col-12 ml-3">
        <img src="../images/stupidKid.png" class="stupidKid img-fluid d-block d-lg-none mx-auto" alt="Stupid Kid Logo">
    </div>
</nav>

<!-- /NAVBAR -->