//===== ABOUT PAGE =====//
.aboutTert {
    background-image: url("../images/dummyUp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.aboutDiv {
    font-size: 1.25rem;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 1.25;
    border: solid #343a40 3px;
    max-width: 50rem;
    margin-top: 10rem;
}

.aboutDiv h1 {
    margin: 0.25em;
}

//===== ABOUT PAGE END =====//