//===== COLORADO PAGE =====//
@media (min-width: 992px) {
    .coloradoTert {
        background-image: url("../images/coloradoBG.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.iframe-div {
    margin: 0.1rem auto;
}

.embed-responsive {
    border: solid 0.25rem #fff;
}

//===== COLORADO PAGE END =====//