//===== COLORADO PAGE =====//
.coloradoTert {
    background-image: url("../images/coloradoBG.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}

.coloradoTert .videoContainer {
    margin-top: 7rem;
    @include media-breakpoint-up(lg) {
        margin-top: 1rem;
    }
}

.iframe-div {
    margin: 0.1rem auto;
}

.embed-responsive {
    border: solid 0.25rem #fff;
}

//===== COLORADO PAGE END =====//