//===== COLORADO PAGE =====//
.coloradoTert {
    background-image: url("../images/ready/coloradoBG.jpg"), url("../images/ready/coloradoBGinvert.jpg");
    background-repeat: no-repeat, repeat;
    background-size: auto;
    background-position: top;
}

.coloradoTert .videoContainer {
    margin-top: 8rem;
}

.coloradoText.col-12 {
    max-width: 97.5%;
}

.iframe-div {
    margin: 0.1rem auto;
}

.embed-responsive {
    border: solid 0.25rem #fff;
}

//===== COLORADO PAGE END =====//