    .idiotCarousel {
        margin-top: 7rem;
        // @include media-breakpoint-up(lg) {
        //     margin-top: 7.1rem;
        // }
    }
    
    .carousel-item {
        @include media-breakpoint-up(xl) {
            height: calc(100vh - 147px);
            & img {
                height: 100%;
            }
        }
        @media (min-width: 1024px) {
            height: initial;
            & img {
                height: initial;
            }
        }
    }
    
    .homePage #footerDiv .fixed-bottom {
        @media (min-width: 992px) {
            position: initial;
        }
    }
    
    .carousel-caption {
        @include media-breakpoint-down(sm) {
            bottom: -10px;
        }
    }