    .idiotCarousel {
        margin-top: 7.1rem;
        @include media-breakpoint-down(lg) {
            margin-top: 5.89rem;
        }
    }
    
    .carousel-item {
        @include media-breakpoint-up(lg) {
            height: calc(100vh - 147px);
            & img {
                height: 100%;
            }
        }
    }
    
    .homePage #footerDiv .fixed-bottom {
        @include media-breakpoint-down(lg) {
            position: initial;
        }
    }
    
    .carousel-caption {
        @include media-breakpoint-down(sm) {
            bottom: -10px;
        }
    }