//===== NAVBAR =====// 
.logo {
    max-width: 4rem;
    max-height: 6rem;
}

.cloud {
    max-width: 50px;
    max-height: 50px;
}

.stupidKid {
    max-width: 40px;
    max-height: 40px;
}

nav {
    border-bottom: solid 3px #343a40;
    .iconDiv {
        a {
            @include hover-focus {
                .icon {
                    color: $primaryColor;
                }
            }
        }
    }
    .icon {
        color: $navColor;
    }
}

nav .container {
    max-width: 100%;
}

.navbar-expand-lg {
    @include media-breakpoint-up(lg) {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: $navColor;
    @include hover-focus {
        color: $primaryColor;
        @include media-breakpoint-down(lg) {
            padding: .25rem;
            margin: 4.5px;
        }
    }
}

//===== NAVBAR OVER =====//